* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    margin-top: 100px;
}

h1, p, h2{
    font-family: Helvetica, sans-serif;
    color: #404040;
    user-select: none;
}

.header {
    margin-top: 30px;
    padding-top: 10px;
}

p {
    font-size: 22px;
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.images {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    user-select: none;
}

img {
    max-width: 130px;
    padding: 20px;
}

.choice {
    transition: all 0.3s ease;
}

.choice:hover {
    cursor: pointer;
}


.score {
    margin: 50px auto;
    border: 3px solid black;
    width: 200px;
    border-radius: 5px;
    text-align: center;
    padding: 15px 20px;
    font-family: Helvetica, sans-serif;
    position: relative;
    font-size: 50px;
    user-select: none;
}

.badge {
    background: #404040;
    color: white;
    font-size: 13px;
    padding: 2px 10px;
    font-family: Helvetica, sans-serif;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -20px;
}

#comp-label {
    position: absolute;
    top: 30px;
    right: -20px;
}

.result {
    text-align: center;
    margin-top: 20px;
}

.playagain {
    text-align: center;
    padding-top: 60px;
}

#playagainbutton {
    padding: 10px 15px;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    background-color: #F0F0F0;
    border: 1px solid white;
    color: #404040;
    visibility: hidden;
}
